body {
  background-color: lightblue;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  height: 550px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 50px
}

h1{
  border-bottom: 5px solid #D16587;
  color: #D16587;
}

h1 a{
  color: #D16587;
  text-decoration: none;
}

h1 a:hover{
  color: purple;
}

#batman ul {
  list-style-type: none;  /* none, disc, circle, square */
  margin-top: 0px;
  padding: 0px;
}

#batman li {
  border: 0px solid black;
  Background-Color: #D16587;
  width: 196px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  }

#batman ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 25px;
}

#batman li a:hover {
  background-color: purple;
  border-radius: 50px
}

#batman li a:hover {
  background-color: purple;
  border-radius: 50px;
  box-shadow: 0px 10px 10px #666;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
  display: block;
}

#gigi{
  border: solid #D16587 5px;
  color: #D16587;
  font-size: 20px;
}

.floatimage{
  border: solid #D16587 5px;
  width: 500px;
  float: left;
}

#one{
  color: #D16587;
  text-align: justify;
  font-size: 20px;
  margin-left: 515px;
  margin-top: 10px;
  border: solid #D16587 5px;
  margin-bottom: 28px;
}

footer{
  background-color: #D16587;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: Helvetica;
  margin-top: 50px;
  margin-bottom: 30px;
}

#joker ul {
  list-style-type: none;  /* none, disc, circle, square */
  margin-top: 0px;
  padding: 0px;
}

#joker li {
  border: 0px solid black;
  Background-Color: #D16587;
  width: 250px;
  border-radius: 50px;
  color: white;
  display: block;
  padding: 25px;
  margin-top: 20px;
  }
